.color {
    background-color: #FFFFFF;
    color: #001122;
}

.input-sign-form{
    padding: 10px;
    width: 280px;
    font-size: 18px;
    box-sizing: border-box;
    margin:10px 0;
}

.big-btn{
    padding: 20px 120px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    border: 4px solid;
    margin:15px 0;
}

.medium-btn{
    padding: 8px 50px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    border: 4px solid;
    margin:15px 0;
}

.header-title{
    text-align: center;
    margin:30px 0;
}

.margin-left{
    margin-left: 20px;
}

.margin-right{
    margin-right: 20px;
}

.color-green{
    color: #32ff70;
}

.color-red{
    color: #ff0735;
}

.font-alert{
    font-size: 16px;
    font-weight: bolder;
}